body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

header {
    background: #000;
    color: white;
    padding: 15px;
}

header nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

main {
    padding: 20px;
}

.btn {
    display: inline-block;
    background: black;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 6px;
}

.producto {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
}

